Repository Dive-Into-CSS/untitled-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB, @nikabutikashvili, @juditmoya4, @karimmango, @oboznyiM, @HusDev, @wasim919, @Dinigmb, @mc-pixel, @mdsredina, @wriozumi, @Giancarix117, @KashyapPavra, @BThero, @ysm0706glee, @lintin9095, @trackmystories

.github/CODEOWNERS:

/teams/1/* @tonyblu331 @Zurina @Scientist-Ansh @juliusberthold @lagom-QB @nikabutikashvili

/teams/2/* @juditmoya4 @karimmango @oboznyiM @HusDev @wasim919

/teams/3/* @nikabutikashvili @Dinigmb @mc-pixel @mdsredina @wasim919

/teams/4/* @wriozumi @Giancarix117 @KashyapPavra @wasim919 @nikabutikashvili

/teams/5/* @BThero @ysm0706glee @lintin9095 @trackmystories @Scientist-Ansh

fix: update the elements' names
  teams/2/informnational_pages.html
Owners: @juditmoya4, @karimmango, @oboznyiM, @HusDev, @wasim919

pages 1-2
  teams/2/assets/css/blog_posts.css
  teams/2/blog_posts.html
  teams/2/dashboard.html
Owners: @juditmoya4, @karimmango, @oboznyiM, @HusDev, @wasim919

h1 tags updated and prettier added
  teams/4/page-1.html
Owners: @wriozumi, @Giancarix117, @KashyapPavra, @wasim919, @nikabutikashvili

code format prettier change
  teams/3/portfolio-performance.html
  teams/3/settings.html
  teams/3/teams.html
Owners: @nikabutikashvili, @Dinigmb, @mc-pixel, @mdsredina, @wasim919

table bug fix
  teams/3/settings.html
Owners: @nikabutikashvili, @Dinigmb, @mc-pixel, @mdsredina, @wasim919

elaborate more on example of the text styling and typo
  css/main.css
  css/teams/n/page.css
  teams/examples/page.html
Owners: none
