Repository Dive-Into-CSS/untitled-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB, @juditmoya4, @karimmango, @oboznyiM, @HusDev, @nikabutikashvili, @Dinigmb, @mc-pixel, @mdsredina, @wriozumi, @Giancarix117, @KashyapPavra, @wasim919, @BThero, @ysm0706glee, @lintin9095, @trackmystories

.github/CODEOWNERS:

/teams/1/* @tonyblu331 @Zurina @Scientist-Ansh @juliusberthold @lagom-QB

/teams/2/* @juditmoya4 @karimmango @oboznyiM @HusDev

/teams/3/* @nikabutikashvili @Dinigmb @mc-pixel @mdsredina

/teams/4/* @wriozumi @Giancarix117 @KashyapPavra @wasim919

/teams/5/* @BThero @ysm0706glee @lintin9095 @trackmystories

Update Dashboard.html
  teams/1/Dashboard.html
Owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB

Updated Dashboard.html
  teams/1/Dashboard.html
Owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB

Updated LandingPage.html and Contact.html
  teams/1/Contacts.html
  teams/1/LandingPage.html
Owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB

team4 files
  teams/4/page-1.html
  teams/4/page-2.html
  teams/4/page-3.html
Owners: @wriozumi, @Giancarix117, @KashyapPavra, @wasim919

use prettier on pages 1 and 2
  teams/5/blog-posts.html
  teams/5/dashboards.html
Owners: @BThero, @ysm0706glee, @lintin9095, @trackmystories

readme.md added
  readme.md
  teams.PNG
Owners: none

separate specific styles from font styles
  css/main.css
  css/teams/n/page.css
  teams/examples/page.html
Owners: none

using rem as unit
  css/main.css
Owners: none

fix settings htm
  teams/5/settings.html
Owners: @BThero, @ysm0706glee, @lintin9095, @trackmystories

prettier on settings.html
  teams/5/settings.html
Owners: @BThero, @ysm0706glee, @lintin9095, @trackmystories

initial commit
  teams/2/page-1.html
  teams/2/page-2.html
  teams/2/page-3.html
Owners: @juditmoya4, @karimmango, @oboznyiM, @HusDev

change filenames
  teams/1/portfolio-performance.html
  teams/1/settings.html
  teams/1/team.html
Owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB
