Repository Dive-Into-CSS/untitled-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB, @nikabutikashvili, @juditmoya4, @karimmango, @oboznyiM, @HusDev, @wasim919, @Dinigmb, @mc-pixel, @mdsredina, @wriozumi, @Giancarix117, @KashyapPavra, @BThero, @ysm0706glee, @lintin9095, @trackmystories

.github/CODEOWNERS:

/teams/1/* @tonyblu331 @Zurina @Scientist-Ansh @juliusberthold @lagom-QB @nikabutikashvili

/teams/2/* @juditmoya4 @karimmango @oboznyiM @HusDev @wasim919

/teams/3/* @nikabutikashvili @Dinigmb @mc-pixel @mdsredina @wasim919

/teams/4/* @wriozumi @Giancarix117 @KashyapPavra @wasim919 @nikabutikashvili

/teams/5/* @BThero @ysm0706glee @lintin9095 @trackmystories @Scientist-Ansh

/css/teams/1/* @tonyblu331 @Zurina @Scientist-Ansh @juliusberthold @lagom-QB @nikabutikashvili

/css/teams/2/* @juditmoya4 @karimmango @oboznyiM @HusDev @wasim919

/css/teams/3/* @nikabutikashvili @Dinigmb @mc-pixel @mdsredina @wasim919

/css/teams/4/* @wriozumi @Giancarix117 @KashyapPavra @wasim919 @nikabutikashvili

/css/teams/5/* @BThero @ysm0706glee @lintin9095 @trackmystories @Scientist-Ansh

add css files
  css/teams/1/Contacts.css
  css/teams/1/Dashboard.css
  css/teams/1/LandingPage.css
  css/teams/1/heading.css
  css/teams/1/navigation.css
Owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB, @nikabutikashvili

fix: validate html with prittier
  teams/2/blog_posts.html
  teams/2/dashboard.html
  teams/2/informnational_pages.html
Owners: @juditmoya4, @karimmango, @oboznyiM, @HusDev, @wasim919

modified the contacts.css
  teams/1/.DS_Store
  teams/1/Contacts.html
  teams/1/css/contacts.css
Owners: @tonyblu331, @Zurina, @Scientist-Ansh, @juliusberthold, @lagom-QB, @nikabutikashvili

create badge example
  css/teams/n/badge.css
  teams/examples/page.html
Owners: none

add comment
  css/colors.css
Owners: none

did some stuff on the contacts.css page
  teams/1/css/contacts.css
Owners: none
